<% include ../partials/header %>
    
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1> Welcome to Campgrounds </h1>
                <p>Watch our world famous campgrounds all over the world</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new campground</a>
                </p>
            </div>
        </header>
        
        
        
        <div class="row text-center myTestClass" style="display:flex; flex-wrap: wrap;">
            <% campgroundsEjs.forEach(function(campground) { %>
                <div class="col-md-3 col-sm-6"> 
                    <div id="parentheight" class="thumbnail">
                        <img id="imageheight" src = "<%= campground.image %>">
                        <div class="caption">
                            <h4> <%= campground.name %> </h4>
                            <p><a href="/campgrounds/<%= campground._id%> " class="btn btn-primary btn-md">More info</a></p>
                        </div>
                        
                       
                    </div>
                </div>
                
            <% })  %>
        </div>
    
        
    
        <% include  ../partials/footer %>
    
    </div>